* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: $darker;
    color: $light;
    line-height: 1.6;
    overflow-x: hidden;
}
